<div>
  <div id="wrapper">
    <div id="left">
      <div id="signin">
        <div class="logo"></div>
        <div *ngIf="isRegistered" class="alert alert-success alert-dismissible fade show" role="alert">
          Welcome on board! Check your email to activate your account.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup] = 'registerForm' (ngSubmit) = 'register(registerForm.value)'>
          <h3 class="text-center">Create an account</h3>
          <div>
            <label for="Email">Username</label>
            <input type="text" class="text-input" formControlName="username"/>
            <small  class="text-danger" *ngIf="registerForm.controls['username'].touched && registerForm.controls['username'].invalid  && registerForm.controls['username'].hasError('minlength')">
                Username should be a minimum of 5 characters
            </small>
            <small  class="text-danger" *ngIf="registerForm.controls['username'].touched && registerForm.controls['username'].invalid  && registerForm.controls['username'].hasError('required')">
                Username is required
            </small>
          </div>
          <div>
            <label for="Password">Email</label>
            <input type="email" class="text-input" formControlName="email" />
            <small  class="text-danger" *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid  && registerForm.controls['email'].hasError('email')">
                Enter a valid email address
            </small>
            <small  class="text-danger" *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid  && registerForm.controls['email'].hasError('required')">
               Email is required
            </small>
          </div>
          <div>
            <label for="Phone">Phone</label>
            <input type="text" pattern="^[-+]?([0-9])+$" class="text-input" formControlName="userPhone"/>
            <small  class="text-danger" *ngIf="registerForm.controls['userPhone'].touched && registerForm.controls['userPhone'].invalid  && registerForm.controls['userPhone'].hasError('required')">
                PhoneNumber is required
             </small>
             <small  class="text-danger" *ngIf="registerForm.controls['userPhone'].touched && registerForm.controls['userPhone'].invalid  && registerForm.controls['userPhone'].hasError('pattern')">
                That phone number doesn't seem valid
             </small>
          </div>
          <div>
            <label for="Password">Password</label>
            <input type="password" class="text-input" formControlName="password" />
            <small  class="text-danger" *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].invalid  && registerForm.controls['password'].hasError('minlength')">
               Erm, maybe you should increase the length of your password to above 8 characters
            </small>
            <small  class="text-danger" *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].invalid  && registerForm.controls['password'].hasError('required')">
               Password is required
            </small>
            <small  class="text-danger" *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].invalid  && registerForm.controls['password'].hasError('maxlength')">
                Hmnn, your password seems longer than 20 characters, are you that secretive?
             </small>
             <div *ngIf="isPasswordError">
               <p class="password">Confirm your password meet these criteria</p>
               <small  class="text-danger">
                  Minimum of 8 characters long.
               </small><br>
               <small  class="text-danger">
                  Minimum of 3 lowercase letters.
               </small><br>
               <small  class="text-danger">
                  Minimum of 2 uppercase letters.
               </small><br>
               <small  class="text-danger">
                  Minimum of 2 numbers and 1 special character.
               </small>
             </div>

          </div>
          <div class="custom-control custom-checkbox mb-2 mr-sm-2">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customControlInline"
              formControlName="tAndC"
            />
            <label class="custom-control-label" for="customControlInline"
              >I have read the terms and conditions</label
            ><br>
            <small  class="text-danger" *ngIf="registerForm.controls['tAndC'].touched  && !registerForm.controls['tAndC'].value">
                You need to accept out Terms and Conditions to proceed
             </small>
          </div>
          <button [disabled]='registerForm.invalid' type="submit" class="primary-btn">
              <i class="fas fa-spin fa-spinner" *ngIf="isRegistering"></i>
              {{ isRegistering ? '' : 'Register'}}
          </button>
        </form>
        <div class="links">
          <a
            [routerLink]="['/auth/login']"
            routerLinkActive="router-link-active"
            >Have an account?</a
          >
        </div>
      </div>

      <footer id="main-footer">
        <p>Copyright &copy 2019, NextXtar All rights reserved</p>
        <div><a href="#">terms of use</a> | <a href="#">Privacy Policy</a></div>
      </footer>
    </div>
    <div id="right">
      <div id="showcase">
        <div class="showcase-content" [ngsReveal]="{ reset: true, duration: 2000, origin: 'top', distance: '200px'}">
          <h1 class="showcase-text">
            Be a part of our musical <strong>journey</strong>
          </h1>
          <a
            [routerLink]="['/auth/login']"
            routerLinkActive="router-link-active"
            class="secondary-btn"
            style="color:#f0f3f5; border:1px solid #f0f3f5"
            >Sign In!</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
