// .video-wrapper {
//   height: 100vh;
//   color: #fff;
// }
// .wrapper {
//   // max-width: 960px;
//   // padding-left: 1rem;
//   // padding-right: 1rem;
//   margin: auto;
//   text-align: center;
// }
// .fullscreen-video-wrap {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100vh;
//   overflow: hidden;
// }
// // .header-overlay {
// //   height: 100%;
// //   width: 100vw;
// //   top: 0;
// //   left: 0;
// //   background: #225470;
// //   z-index: 1;
// //   opacity: 0.85;
// // }
// .header-content {
//   position: absolute;
//   bottom: 50px;
//   left: 30px;
//   z-index: 2;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   width: 80%;
// }
// .intro-text {
//   font-weight: bold;
//   color: #fff;
//   font-size: 2rem;
// }
// .btn {
//   padding: 40px 80px;
//   background: #fae62d;
//   color: #000000;
//   border: none;
//   font-size: 1.5rem;
//   font-weight: bold;
//   border-radius: 5px;
// }
// video {
//   width: 100vw;
// }
h1,h2,h3,h4,h5,h6,p {
  font-family: Poppins !important;
}
.container {
  margin-top: 86px;
}
.left {
  display: flex !important;
  align-items: center !important;
}
.showcase-left {
  img {
    padding: 40px;
  }
}
#showcase {
  background: #34495E;
  color: white;
}
.showcase-right  {
  margin-top: 100px;
  h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: bold;
    color: #34495E;
  }
  p {
    font-size: 0.85rem;
    letter-spacing: 0.6px;
  }
  .showcase-btn {
    background: #EC4E20 !important;
    color: #fff !important;
    cursor: pointer !important;
    width: 40%;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    &:hover {
      background: #fff !important;
      color: #EC4E20 !important;
      border: 2px solid  #EC4E20;
    }
  }
}

@media (max-width: 768px) {
	.showcase-right {
    margin-top: 0px;
    h3 {
      margin-top: 0px;
    }
  }
}
