<header class="video-wrapper wrapper">
  <div class="fullscreen-video-wrap">
    <video loop muted playsinline uk-video="autoplay: inview">
      <!-- <source
      src="https://quirksmode.org/html5/videos/big_buck_bunny.mp4"
      type="video/mp4"
    />
    <source
      src="https://quirksmode.org/html5/videos/big_buck_bunny.ogv"
      type="video/ogg"
    /> -->
      <source src="../../../assets/Video/Intro.mp4" />
    </video>
  </div>
  <!-- <div class="header-overlay"></div>
  <div class="header-content">
    <div class="text ml-5">
      <h3 class="intro-text">
        Free music distribution for everyone.
      </h3>
      <h3 class="intro-text" style="margin-top:10px; margin-bottom:0px">
        Record deals for artists we believe in
      </h3>
    </div>
    <div class="button">
      <button class="btn btn-primary">Release Music</button>
    </div>
  </div> -->
</header>
