<!-- <div class="wrapper">
  <div class="left">
    <img src="../../../assets/images/microphone-2130806_1920.jpg" alt="" />
  </div>
  <div class="right">
    <div class="text">
      <h1 class="text-left" style="color:aliceblue">Free Music Distribution</h1>
      <p class="text-left">
        Getting your music heard by the world is easy with Amuse. Upload your
        tracks and get them distributed to all major streaming platforms and
        music stores for free. You keep 100% of your rights and royalties.
      </p>
    </div>
    <div class="readMore">
      <button class="btn">Learn More</button>
    </div>
  </div>
</div> -->
<div class="wrapper">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 left" style="padding:0px">
      <img src="../../../assets/images/microphone-2130806_1920.jpg" alt="" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 right" style="padding:0px">
      <div class="text">
        <h1 class="text-left" style="color:aliceblue">
          Free Music Distribution
        </h1>
        <p class="text-left">
          Getting your music heard by the world is easy with Amuse. Upload your
          tracks and get them distributed to all major streaming platforms and
          music stores for free. You keep 100% of your rights and royalties.
        </p>
      </div>
      <div class="readMore">
        <button class="btn">Learn More</button>
      </div>
    </div>
  </div>
</div>
