<div class="wrapper">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 left" style="padding:0px">
      <img src="../../../assets/images/violin-374096_1920.jpg" alt="" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 right" style="padding:0px">
      <div class="text">
        <h1 class="text-left" style="color:aliceblue">
          Meet your Artists
        </h1>
      </div>
      <!-- <div class="readMore">
        <button class="btn">Learn More</button>
      </div> -->
    </div>
  </div>
</div>
