h1,h2,h3,h4,h5,h6,p {
  font-family: poppins;
}
#showcase {
  margin: 50px;
}
.left {
    display: flex;
    align-items: center;
    justify-content: center;
}
.showcase-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      color: #34495E;
      font-weight: bold;
    }
    p {
      font-size: 0.85rem;
      letter-spacing: 0.6px;
    }
}
.showcase-btn {
  background: #EC4E20;
  color: #fff !important;
  cursor: pointer !important;
  // width: 40%;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  &:hover {
    background: #fff !important;
    color: #EC4E20 !important;
    border: 2px solid  #EC4E20;
  }
}
