<section id="showcase">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 left">
        <div class="showcase-left" >
          <img src="../../../assets/images/undraw_contemplating_8t0x.svg" alt="headphone" #image>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="showcase-right">
          <h3>Meet your artists</h3>
          <p>Free music distribution for everyone. Record deals for artists we believe in.</p>
          <a class="showcase-btn" [ngsReveal]="{ reset: true, duration: 2000, origin: 'bottom', distance: '200px'}" >Start now</a>
        </div>
      </div>
    </div>
  </div>
</section>
