<!-- <div class="wrapper">
  <div class="left">
    <div class="text">
      <h1 class="text-left" style="color:aliceblue">
        Get Signed to our record label
      </h1>
      <p class="text-left">
        Release your music with Amuse for your chance to be discovered and
        signed by our global record label team. We’ve launched the careers of
        some of the world’s top independent artists. Are you next?
      </p>
    </div>
    <div class="readMore">
      <button class="btn">Learn More</button>
    </div>
  </div>
  <div class="right">
    <img src="../../../assets/images/ipad-605439_1920.jpg" alt="" />
  </div>
</div> -->

<div class="wrapper">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 left" style="padding:0px">
      <!-- <img src="../../../assets/images/microphone-2130806_1920.jpg" alt="" /> -->
      <div class="text">
        <h1 class="text-left" style="color:aliceblue">
          Free Music Distribution
        </h1>
        <p class="text-left">
          Getting your music heard by the world is easy with Amuse. Upload your
          tracks and get them distributed to all major streaming platforms and
          music stores for free. You keep 100% of your rights and royalties.
        </p>
      </div>
      <div class="readMore">
        <button class="btn">Learn More</button>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 right" style="padding:0px">
      <img src="../../../assets/images/ipad-605439_1920.jpg" alt="" />
    </div>
  </div>
</div>
