// .wrapper {
//   background: url('../../../assets/images/headphones-690685_1920.jpg')
// }
h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 3rem;
    color: darkgoldenrod;
    font-weight: bold;
}
