<div class="wrapper">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 left">
      <h3 class="logo">nextXtar</h3>
      <p class="pColor">
        Get updates about nextXtar. Sign up for our Newsletter!
      </p>
      <form class="form-inline">
        <!--  -->
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input
          type="text"
          class="form-control mb-2 mr-sm-2"
          id="inlineFormInputName2"
          placeholder="Name"
        />

        <label class="sr-only" for="inlineFormInputGroupUsername2">Email</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input
            type="text"
            class="form-control"
            id="inlineFormInputGroupUsername2"
            placeholder="Email"
          />
        </div>

        <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
      </form>
    </div>
    <div class="col lg-6 col-md-6 col-sm-12 right">
      <div class="row">
        <div class="col-md-5 text-center">
          <p>About NextXtar</p>
          <p>Careers</p>
          <p>Instagram</p>
          <p>Twitter</p>
        </div>
        <div class="col-md-5">
          <p>Terms of use</p>
          <p>Privacy Policy</p>
          <p>Agreement</p>
          <p>Facebook</p>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center pColor">&copy; NextXtar. All Rights Reserved, 2019</p>
</div>
