<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 left">
        <div class="showcase-left">
          <h1>NextXtar</h1>
          <p style="color:#fff; text-align: center">Get Updates about us, subscribe!</p>
          <div class="subscribe">
            <input type="text" placeholder="Enter email address">
            <button class="footer-btn">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
